<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 NOT FOUND</title>
    <link href="../assets/css/404.css" th:href="@{/assets/css/404.css}" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/assets/font/varela.css}">
</head>
<body>
<div style="display:inline-flex">
    <div class="images">
        <img id="cup" src="../assets/images/cup.svg" th:src="@{/assets/images/cup.svg}"/>
        <img id="cat" src="../assets/images/cat.svg" th:src="@{/assets/images/cat.svg}"/>
    </div>
    <div class="para">
        <header>
            <h2>404.</h2>
            <h3>Sorry, Wrong Door.</h3>
        </header>

        <p>
            Don't worry, sometimes even we make mistakes.
            You can find plenty of other things on our homepage.
        </p>

        <button hidden>
            Back to Homepage
        </button>
    </div>
</div>
<script src="../assets/js/404.js" th:src="@{/assets/js/404.js}"></script>
</body>
</html>
