.custom-container {
    margin: 0 auto !important;
    background: black !important;
    overflow: hidden !important;
}

.custom-style {
    width: 100vw !important;
    height: 100vh !important;
    aspect-ratio: unset !important;
}

.video-container {
    height: 100vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}