*/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
refs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*/.idea
*/*.iws
*/*.iml
*/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

ServiceData

signature_web_project/.idea

signature_web_project/node_modules

tools-web/src/main/resources/cookie/custom.netease.cookie.txt

tools-web/src/main/resources/params/custom.kugou.params.txt