<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="../assets/css/custom-player.css" th:href="@{/assets/css/custom-player.css}" rel="stylesheet">
    <script src="../assets/js/flv.min.js" th:src="@{/assets/js/flv.min.js}"></script>
</head>
<body class="custom-container">
<video
        id="live-player"
        class="video-container"
        th:data="${path}"
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}"
></video>
</body>
<script>
    if (flvjs.isSupported()) {
        const videoElement = document.getElementById('live-player');
        const path = videoElement.getAttribute("data");
        const flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: path
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
</script>