<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="../assets/css/animation.css" th:href="@{/assets/css/animation.css}" rel="stylesheet">
    <link href="../assets/css/plyr.css" th:href="@{/assets/css/plyr.css}" rel="stylesheet">
    <link href="../assets/css/custom-player.css" th:href="@{/assets/css/custom-player.css}" rel="stylesheet">
    <script src="../assets/js/plyr.polyfilled.js" th:src="@{/assets/js/plyr.polyfilled.js}"></script>
</head>
<body class="custom-music-container">
<!-- partial:index.partial.html -->
<div class='organism'>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
</div>
<div class='organism'>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
    <div class='atom'></div>
</div>
<video
        id="video-player"
        class="custom-style"
        playsinline
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}"
        autoplay
        style="border-radius: unset !important;"
>
    <source src="" th:src="${path}" th:type="${type}"/>
    <meta name="referrer" content="never">
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a>
    </p>
</video>
</body>